<nav> <span>
        <a href="/saved">Saved Articles</a>
        | <a href="/">Articles</a>
        | <a href="/api/articles/scrape">Scrape</a>
    </span></nav>
<div class="container">

    <ul class="saved">

        {{#each articles}}

        <li data-article-id={{_id}}>
            <div class="card">
                <div><a href={{link}} target="_blank">
                        {{title}}
                    </a></div>
                <a class="waves-effect waves-light btn saveArticle">Save</a>
                {{!-- <button class="saveArticle">Save</button> --}}
                <a class="waves-effect waves-light btn deleteArticle">Delete</a>

                {{!-- <button class="deleteArticle">Delete</button> --}}


                <form class="note">
                    <input data-article-id={{_id}} class="noteBody" type="text" name="noteInput" placeholder="Note"></input>

                    <button type="submit">Submit</button>
                </form>
           

        {{#if note}}
            <div class="noteDiv">
                {{note.noteBody}}
            </div>
            {{/if}}
            </div>
        </li>

 
        {{/each}}
    </ul>

</div>


{{!-- <ul class="saved">

    {{#each note}}
    <li data-article-id={{_id}}>
        <div><a href={{link}} target="_blank">
                {{title}}
            </a></div>
        {{#if note}}
        <div class="note" data-note-id={{note._id}}>Notes: {{note.text}}</div>
        <button class="editNote">Edit Note</button>
        <form class="editForm">
            <input class="text" placeholder="Edit a note" />
            <button type="submit">Submit Note</button>
        </form>
        {{#/if}}
        {{#unless note}}
        <button class="addNote">Add Note</button>
        <form class="addForm">
            <input class="text" placeholder="add a note" />
            <button type="submit">Submit Note</button>
        </form>
        {{#/unless}}
    </li>
    {{/each}}
</ul> --}}